body {
	overflow-x: hidden;
}

header {
	margin: 5px;
}

h1 {
	font-family: GravityBold, sans-serif;
	font-weight: bold;
}

p {
	margin: 10px;
}

.extra-note {
	font-size: 1em;
}

thead {
	display:none;
}

table {
	border:1px #000000 solid;
	border-collapse:collapse;
	float:right;
	margin:10px;
}

td {
	padding:0;
	line-height:0;
	height:96px;
	width:157px;
}

td:hover {
	background-color:#f2a6da;
}

#pieces {
	line-height:0;
}

#pieces img {
	margin:15px;
}

#pieces img:not(.selected) {
	border:10px transparent solid;
}

#pieces img:hover:not(.selected) {
	border:10px #f2a6da solid;
}

#pieces img:active {
	border:10px #672dd2 solid;
}

.selected {
	border:10px #672dd2 solid;
}

.inspace1, .inspace2, .inspace3, .inspace4, .inspace5, .inspace6, .inspace7, .inspace8, .inspace9 {
	display:none;
}

#victory {
	display:none;
}

.congrats {
	color:red;
	font-size:3em;
	text-align:center;
	font-weight:bold;
}

#date {
	float:right;
}

.back-to-portfolio {
	max-width: 30em;
	background-color: #fff;
	color: #000;
	position: fixed;
	padding: 10px;
	bottom: 0;
	right: 0;
	z-index: 200;
}

@font-face {
	font-family: Gravity;
	src: url("fonts/Gravity-Regular.otf");
	font-weight: normal;
}

@font-face {
  font-family: GravityLight;
  src: url("fonts/Gravity-Light.otf");
  font-weight: lighter;
}

@font-face {
  font-family: GravityBold;
  src: url("fonts/Gravity-Bold.otf");
  font-weight: bold;
}