/* general */

:root {
  --color-primary: #673479;
  --color-primary-light: #dfa6ed;
  --color-secondary: #e034a9;
  --color-secondary-dark: #9a2374;
  --color-accent: #d425a9;
  --color-accent-light: #bd34d7;
  --color-gradient-right: #e65cb1;
  --color-blue: #40afd4;
  --color-white: #fff;
  --color-shadow: #673479cc;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(#fff4ff, #ffe9ff);
  background-attachment: fixed;
  font-family: GravityLight, sans-serif;
  color: var(--color-primary);
}

header {
  overflow: hidden;
  width: 100%;
}

h1 {
  color: var(--color-primary);
  font-size: 3rem;
  text-align: center;
}

.intro h1 {
  background-color: rgba(255, 255, 255, 0.75);
  margin-block: 0;
  border-radius: 7px 7px 0 0;
  font-size: 4rem;
}

header h1 {
  color: var(--color-white);
  background: none;
  text-align: 0;
  margin-bottom: 0;
  border-radius: 0;
  font-size: 0.9rem;
  position: absolute;
  top: 90px;
  right: 90px;
  transform: rotate(-1.5deg);
}

h2,
h3,
h4,
h5,
h6 {
  font-family: GravityBold, sans-serif;
}

h2,
h3,
h4 {
  font-family: GravityBold, sans-serif;
  margin: 20px;
  text-indent: 2em;
}

h2 {
  color: var(--color-white);
  max-width: 10em;
  padding: 15px;
  box-sizing: border-box;
  font-size: 3rem;
  font-family: GravityBold, sans-serif;
  background-color: var(--color-primary);
  transform: rotate(-2deg);
  margin-top: 60px;
}

h3 {
  background-color: var(--color-primary-light);
  color: var(--color-primary);
  padding: 15px;
  box-sizing: border-box;
  font-size: 1.75rem;
  max-width: 100%;
}

@media screen and (min-width: 768px) {
  h3 {
    margin: 40px 3rem 15px;
  }
}

h4 {
  font-size: 1.4rem;
}

p {
  padding-left: 1rem;
  text-indent: 1.5rem;
  line-height: 1.75em;
}

aside {
  float: right;
  max-width: 25%;
  padding: 20px;
}

form {
  padding-left: 1rem;
  margin: 2rem;
}

input {
  margin: 0.5rem;
}

input[type="submit"] {
  font-size: 1.5rem;
  font-family: Gravity, sans-serif;
}

.inputgroup {
  display: block;
  margin: 1rem;
}

.submit {
  text-align: right;
}

a:link {
  color: var(--color-secondary);
}

a:visited {
  color: var(--color-secondary-dark);
}

.centered {
  display: table;
  margin-left: auto;
  margin-right: auto;
}

li {
  line-height: 1.5em;
}

main {
  font-size: 1.3rem;
  padding-left: 5rem;
  padding-right: 5rem;
  max-width: 1200px;
  margin: 0 auto;
}

main li {
  margin-bottom: 1em;
}

img {
  max-width: 100%;
}

/* header/navigation */

.logo-container {
  background-color: var(--color-secondary);
}

.logo {
  position: relative;
  top: 0;
  z-index: 1;
  margin-right: 10px;
  margin-top: 5px;
  margin-left: 25px;
  display: block;
}

nav {
  background-color: var(--color-accent);
  color: var(--color-white);
  text-transform: lowercase;
  margin: 0;
  margin-top: 0;
  padding: 20px;
  border-bottom: 12px var(--color-blue) solid;
  font-family: Gravity, sans-serif;
  height: auto;
  float: right;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
}

nav ul {
  margin: 0;
  text-align: right;
  min-height: 100%;
  height: 100%;
  display: block;
}

nav li {
  list-style-type: none;
  display: inline;
  font-size: 1.2rem;
}

nav li a {
  margin: 0;
  font-size: 1.8rem;
  padding: 21px;
  transition: background-color 0.2s, border-bottom 0.2s, color 0.2s,
    padding 0.2s;
  text-decoration: none;
  color: var(--color-white);
}

nav li a:link {
  color: var(--color-white);
}

nav li a:visited {
  color: var(--color-white);
}

nav li a:hover {
  color: var(--color-primary);
  background-color: var(--color-white);
  border-color: var(--color-primary);
  border-bottom-width: 22px;
  border-bottom-style: solid;
  padding-left: 32px;
  padding-right: 32px;
}

nav li a:before {
  content: "\a0 \a0 \a0";
}

nav li a:after {
  content: "\a0 \a0 \a0";
}

/* home hero area */

.added-pattern {
  background: url("../images/laptopcss_1920.jpg") no-repeat center center fixed;
  background-size: cover;
  opacity: 0.2;
  width: 100%;
  height: 40vw;
  position: absolute;
}

.intro-container {
  background: linear-gradient(
    var(--color-accent-light),
    var(--color-gradient-right)
  );
  height: 40vw;
  display: flex;
  align-items: center;
}

.intro {
  font-size: 2.2rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  width: 80%;
  font-family: GravityLight, sans-serif;
  text-align: center;
  position: relative;
  z-index: 2;
}

.p-container {
  color: var(--color-primary);
  background-color: rgba(255, 255, 255, 0.75);
  padding-bottom: 10px;
  border-radius: 7px;
  animation: fadein-and-down 1.25s;
  box-shadow: 0 0 10px var(--color-white);
  max-width: 30em;
  margin-left: auto;
  margin-right: auto;
}

.p-container p {
  margin: 10px;
  padding: 10px;
  line-height: 1.23em;
  text-indent: 0;
}

.p-container p:nth-of-type(1) {
  animation: introp 2.5s;
}

.p-container p:nth-of-type(2) {
  animation: introp-delay 4s;
}

.p-container p span {
  background-color: rgba(255, 255, 255, 0.75);
}

/* showcases */

.showcase-container {
  display: flex;
  flex-wrap: wrap;
}

.showcase-container p {
  max-width: 40em;
  margin-inline: auto;
}

.showcased-item .major-visual {
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem var(--color-shadow);
  border: 1px var(--color-primary) solid;
  transition: all 0.3s;
  overflow: hidden;
}

.showcased-item .major-visual:not(.non-link):hover,
.major-visual:not(.non-link):focus {
  box-shadow: 0 0 1.25rem 0.7rem var(--color-primary);
  transform: scale(1.05);
  z-index: 2;
}

.showcased-item .non-link {
  box-shadow: none;
}

.showcase-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-direction: column;
}

.showcase-img-container-wrap {
  flex-wrap: wrap;
}

.showcase-img-container > * {
  min-width: 0;
  max-width: 100%;
}

.showcase-img-container-wrap > * {
  max-width: 48%;
}

.showcase-img-container-inner {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  align-items: center;
}

.img-opener,
.link-opener {
  position: relative;
}

.img-opener::after,
.link-opener::after {
  content: "";
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  border: 1px var(--color-white) solid;
  background-color: var(--color-primary);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 3px;
  right: 3px;
  z-index: 2;
}

.img-opener::after {
  background-image: url("../images/grow.svg");
}

.link-opener::after {
  background-image: url("../images/link.svg");
}

.tri-showcase {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

details {
  background-color: var(--color-white);
}

details > div {
  padding: 1rem;
}

.showcase-container details p {
  padding-left: 0;
  font-size: 1.1rem;
}

summary {
  background-color: var(--color-white);
  font-family: GravityBold, sans-serif;
  padding: 1rem;
  border: 1px var(--color-primary) solid;
  cursor: pointer;
}

@media screen and (min-width: 1024px) {
  .showcase-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  .showcased-item {
    min-width: 0;
  }

  .showcased-item-lg {
    grid-column-start: span 2;
  }

  .showcase-img-container {
    flex-direction: row;
  }
}

/* footer */

footer {
  color: var(--color-white);
  background-color: var(--color-accent);
  padding: 15px;
  text-align: right;
  font-family: GravityLight;
  font-weight: lighter;
  border-bottom: 5px var(--color-blue) solid;
  font-size: 1rem;
  margin-top: 60px;
}

footer p {
  font-size: 1rem;
  margin: 10px;
}

footer a:link {
  color: var(--color-white);
}

footer a:link:hover {
  font-family: GravityBold, sans-serif;
  color: var(--color-secondary);
  background-color: var(--color-white);
  text-decoration: underline var(--color-white);
}

footer a:visited {
  color: var(--color-white);
}

footer a:visited:hover {
  font-family: GravityBold, sans-serif;
  color: var(--color-secondary);
  background-color: var(--color-white);
  text-decoration: underline var(--color-white);
}

/* at-rules */

@keyframes fadein-and-down {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
  }
}

@keyframes introp {
  0% {
    opacity: 0;
    transform: translateX(-60px);
  }
  40% {
    opacity: 0;
    transform: translateX(-60px);
  }
  100% {
    opacity: 1;
  }
}

@keyframes introp-delay {
  0% {
    opacity: 0;
    transform: translateX(-60px);
  }
  70% {
    opacity: 0;
    transform: translateX(-60px);
  }
  100% {
    opacity: 1;
  }
}

@keyframes introp-delay-content {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@font-face {
  font-family: Gravity;
  src: url("fonts/Gravity-Regular.otf");
  font-weight: normal;
}

@font-face {
  font-family: GravityLight;
  src: url("fonts/Gravity-Light.otf");
  font-weight: lighter;
}

@font-face {
  font-family: GravityBold;
  src: url("fonts/Gravity-Bold.otf");
  font-weight: bold;
}

/* media queries */

@media only screen and (max-width: 64em) {
  nav {
    position: initial;
    padding: 0;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    border-bottom: none;
    transition: opacity 0.3s, overflow 0.3s, height 0.3s;
    box-shadow: none;
    /*max-height: 0;*/
  }

  nav ul {
    padding: 0;
    margin: 0;
    text-align: left;
  }

  nav li a {
    margin: 0;
    padding: 25px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 3px var(--color-white) solid;
  }

  main {
    padding: 10px;
    margin: 0;
  }

  p {
    padding: 0;
    margin: 5px;
  }

  footer {
    font-size: 1.2rem;
  }

  .menu-button {
    display: block;
  }

  .faded-out {
    height: 0;
    overflow: hidden;
  }

  .logo {
    position: initial;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .showcasing {
    display: inline-block;
  }

  .showcased-image,
  .showcased-text {
    display: inline-block;
  }

  .showcased-image {
    width: 100%;
  }

  .logo-container {
    padding: 10px;
  }

  .intro-container {
    height: auto;
  }

  .added-pattern {
    display: none;
  }

  .intro {
    padding: 0;
  }

  .p-container {
    width: auto;
  }

  h1 {
    font-size: 1.75rem;
  }

  h2 {
    text-indent: 0;
  }

  .searchbox {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .intro h1 {
    font-size: 2.4rem;
  }
}
