.back-to-portfolio {
	max-width: 30em;
	background-color: #fff;
	color: #000;
	position: fixed;
	padding: 10px;
	bottom: 0;
	right: 0;
	z-index: 200;
}

/* resets */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, button, table, caption, tbody, tfoot, thead, tr, th, td, hr {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* general */

body {
	font-family: 'Quicksand', Helvetica, Arial, sans-serif;
	color: #364163;
	background-color: #f7f5ff;
	font-size: 1.2em;
}

header, footer {
	background-color: #131d39;
}

header a:link, header a:visited, footer a:link, footer a:visited {
	color: #fff;
}

/* header and headings */

header {
	width: 100%;
	padding: 12px 0;
}

header a:link, header a:visited {
	text-decoration: none;
}

header a:hover {
	background-color: unset;
}

h1 {
	margin-top: 0;
	font-size: 1.75rem;
}

header img {
	vertical-align: middle;
	margin: 0 10px;
}

h2 {
	padding: 15px 0;
	margin-bottom: 15px;
	font-size: 2em;
	color: #131d39;
	text-align: center;
	background: linear-gradient(to right, #F7F5FF, #d9dff2, #F7F5FF);
}

h2 span.subtitle {
	font-size: .5em;
	font-weight: normal;
	margin-left: 10px;
	display: inline-block;
}

h3 {
	font-size: 1.75em;
	margin: 20px;
}

h4 {
	font-size: 1.5em;
	margin: 15px;
}

nav ul {
	display: none;
	font-size: 1.33rem;
	list-style-type: none;
}

nav ul li {
	padding: 10px;
}

nav ul.revealed {
	display: block;
}

nav ul.revealed ul {
	display: block;
}

nav a {
    display: block;
    border-bottom: 1px #fff solid;
    padding: 20px;
}

nav li li a {
    font-size: 1.15rem;
	padding: 10px 17px;
}

/* content  */

main {
	min-height: 90vh;
	padding-bottom: 20px;
}

.home main {
	min-height: 0;
}

a, a:link {
	color: #2445a8;
}

a:visited {
	color: #162b69;
}

blockquote {
	padding: 20px;
	background-color: #131d39;
	color: #fff;
}

p {
	margin-left: 5px;
	margin-bottom: 10px;
	padding: 15px;
}

a:hover {
	background-color: rgba(0, 0, 255, 0.2);
}

li {
	margin-bottom: 5px;
	margin-left: 15px;
}

table {
	border-collapse: collapse;
	margin: 20px;
}

td, th {
	padding: 5px;
	border: 1px black solid;
}

main ul {
	margin: 10px;
}

label {
	margin: 15px;
}

dl, dt, dd {
	margin: 10px;
}

/* specialized styling */

blockquote.front-page {
	padding-bottom: 60px;
}

.accompanying {
	margin: 15px;
	border-radius: 20px;
}

section.event {
	padding: 15px;
	margin: 5px;
	background-color: #e7eaf3;
}

.menu-button {
	float: right;
	font-size: 2em;
	color: #fff;
	margin: 5px 30px;
	background: none;
	border: none;
}

.menu-button div {
	font-size: 1rem;
}

.side-by-side-content:after {
	content: "";
	display: table;
	clear: both;
}

.full-width {
	width: 100%;
}

section, blockquote, div.sponsors-content {
	text-align: center;
}

.photo-background {
	margin: 0;
	width: 100%;
	height: 90vh;
	background-image: url(../images/two-bike-riders-on-trail-1280.jpg);
	background-position: top;
	background-size: cover;
}

section.site-intro {
	color: #fff;
	animation: fadein-and-down 1.25s;
	padding: 20px;
}

section.site-intro h2 {
	background: unset;
	color: inherit;
	text-indent: 0;
	text-align: left;
}

section.site-intro span {
	background-color: rgba(54, 65, 99, 0.6);
	padding: 6px 13px;
	border-radius: 5px;
}

section.site-intro p {
	margin-left: 2em;
	font-size: 1.15em;
	padding: 0;
}

@keyframes fadein-and-down {
	from {opacity: 0; transform: translateY(-30px)} to {opacity: 1};
}

section.additional-info {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}

.additional-info h2 {
	margin-top: 20px;
}

.additional-quote {
	text-align: center;
}

.additional {
	vertical-align: middle;
}

blockquote.additional {
	display: inline-block;
}

blockquote.additional cite:before {
	content: ' - ';
	display: inline;
}

cite:before {
	content: ' ';
	display: block;
}

.quoted-photo {
	height: 100px;
	width: 100px;
	border-radius: 50%;
	margin: 0 auto;
	overflow: hidden;
}

.quoted-photo.front-page {
	margin-top: -50px;
}

div.quoted-photo.additional {
	margin: 0;
	display: inline-block;
}

.member-details {
	text-align: center;
}

h3.highlighted {
	font-size: 2em;
	padding: 20px;
	background-color: #e7eaf3;
}

ul.connect {
	text-align: center;
	list-style-type: none;
}

ul.connect li img {
	vertical-align: middle;
}

/* forms and buttons */

label {
	font-weight: bold;
}

form {
	text-align: center;
}

form div {
	display: flex;
	justify-content: center;
}

input, select, textarea, button {
	font-family: 'Quicksand', Helvetica, Arial, sans-serif;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #4d66b3;
	font-size: 1.1rem;
}

button, .btn, a:link.btn, a:visited.btn {
	background-color: #131d39;
	color: #fff;
	padding: 10px 17px;
	font-size: 1.1rem;
	text-decoration: none;
}

/* footer */

footer {
	padding: 20px;
	font-size: 1rem;
}

footer ul {
	list-style-type: none;
}

/* media queries */

@media only screen and (min-width: 768px) {
	
	body {
		font-size: 1.1em;
	}
	
	p {
		padding: 20px;
	}
	
	footer {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
	}
	
	footer ul {
		margin-top: 0;
		margin-bottom: 0;
	}
	
	footer li:first-child {
		margin-top: 0;
	}
	
	footer li:last-child {
		margin-bottom: 0;
	}
	
	section.site-intro {
		padding: 50px;
	}
	
	section.officers section {
		width: 65%;
		margin: 0 auto;
	}
	
	div.merch {
		text-align: left;
	}
	
	div.merch-container {
		width: 45%;
		margin: 0 auto;
	}
	
	div.merch-container section {
		height: 100%;
		float: right;
	}
	
	div.sponsors-content {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
	}
	
	div.sponsors-content p:first-child {
		margin-top: 0;
	}
	
	div.sponsors-content p:last-child {
		margin-bottom: 0;
	}
	
	a.phone {
		display: none;
	}
}

@media only screen and (min-width: 1024px) {
	.menu-button {
		display: none;
	}
	
	header {
		height: 10vh;
		min-height: 75px;
	}
	
	nav {
		float: right;
	}
	
	nav ul {
		display: block;
		padding-left: 0;
		margin-right: 75px;
	}
	
	nav ul li {
		display: inline-block;
		padding: 0;
	}

	nav ul ul {
		position: absolute;
		margin-right: 0;
	}

	nav ul ul li {
		display: none;
		background-color: #4d66b3;
	}
	
	nav ul li {
		transition: transform .25s;
	}

	nav ul li:hover {
		transform: scale(1.25);
		transition: transform .25s;
	}

	nav ul li li {
		font-size: .75em;
		transition: transform .25s;
		padding: 3px;
	}

	nav ul li li:hover {
		transform: scale(1.15);
		transition: transform .25s;
	}
	
	/*div.header-contents {
		position: relative;
		top: 3.75vh;
	}*/

	nav li:hover li {
		display: block;
	}

	h2 {
		font-size: 3em;
	}
	
	section {
		text-align: left;
	}
	
	footer {
		-webkit-column-count: 3;
		-moz-column-count: 3;
		column-count: 3;
	}
	
	div.sponsors-content {
		-webkit-column-count: 3;
		-moz-column-count: 3;
		column-count: 3;
	}
	
	.accompanying {
		float: right;
	}
	
	.additional-info {
		width: 80%;
		max-width: 1000px;
	}
}

